﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CustomerContact.aspx.cs" Inherits="DistributorSystem.CustomerContact"  MasterPageFile="~/MasterPage.Master" %>


<asp:Content ContentPlaceHolderID="head" runat="server">
     <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var userid = '<%=HttpContext.Current.Session["DistributorNumber"]%>';
            var password = '<%=HttpContext.Current.Session["EncryptedLoggedInPassword"]%>';
            if (userid == '1569' || userid == '1598') {
                var url = encodeURI("https://taegutec.ezxpense.com/ezCRM/distributor?p_user_id=" + userid + "&p_password=" + password);
                var iframevar = document.getElementById('eztrackFrame');
                iframevar.src = url;
            }
            //$('#iframe_a').prop('src', url); [16:48] Shreya
          //  https://taegutec.ezxpense.com/ezCRM/distributor?p_user_id=1458&p_password=Z6HePKN/oxTiAwtLKBMm4A==

           //$('#link').attr('href', url);
           //$('#link').click();
       });
       <%--function callphp1() {

           var userid = '<%=HttpContext.Current.Session["DistributorNumber"]%>';
           var password = '<%=HttpContext.Current.Session["EncryptedLoggedInPassword"]%>';
           var url =encodeURI("https://taegutec.ezxpense.com/ezCRM/distributor?p_user_id=" + userid + "&p_password=" + password);
           document.getElementById('iframe_a').src = url;
          // $('#iframe_a').attr('src', url);
       }--%>
     </script>
    </asp:Content>
<asp:Content ContentPlaceHolderID="MainContent" runat="server">
      <iframe  width="100%" height="600px" src="about:blank" id="eztrackFrame" name="iframe_a" ></iframe>
  </asp:Content>
