﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageDUR.master.cs" Inherits="DistributorSystem.MasterPageDUR" %>

<!DOCTYPE html>

<html>
<head runat="server">
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CP Sales</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="css/buttons.dataTables.min.css" rel="stylesheet" />
    <%--<link rel="stylesheet" href="css/jquery.dataTables.css"/>--%>
    <%--<link rel="stylesheet" type="text/css" href="css/dataTables.tableTools.css"/>--%>
    <link href="css/styleDUR.css" rel="stylesheet" />
    <!-- Bootstrap Core JavaScript -->
    <%--   <script src="js/jquery-1.11.0.js"></script>--%>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/DatatblefixedColumns.js"></script>
    <%--<script src="js/jquery.dataTables.js"></script>--%>
    <%--<script type="text/javascript" src="js/dataTables.tableTools.js"></script>--%>



  <asp:ContentPlaceHolder ID="head" runat="server">
        <script type="text/javascript">
            $(document).ready(function () {
                debugger;
                var userid = '<%=HttpContext.Current.Session["DistributorNumber"]%>';
            if (userid == '1569' || userid == '1598') {
                $('#lstContact').attr("style", "display:block;");
            }
        });

        </script>
    </asp:ContentPlaceHolder> 
</head>  
<body>  
    <form id="form2" runat="server">  
                <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner" runat="server">
	<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
             <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                   <%-- <img style="width:200px;" src="images/distribution-logo.png"/>--%>
                    <img style="width:180px;" src="images/duracarb_logo.jpg" />
                </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul runat="server" id="tabs" class="nav navbar-nav">

            </ul>
        
             <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <asp:Label runat="server" ID="lblUserName" class="username" Text="WelcomeGuest"></asp:Label> <span class="caret"></span></a>
                            <ul class="dropdown-menu mn_right">
                                 <li><asp:LinkButton runat="server" ID="lnkAdminProfile" Visible="false" OnClick="lnkAdminProfile_Click">Admin Profile</asp:LinkButton></li>
                                
                                 <li><a href="ResetPassword.aspx">Reset Password</a></li>
                                <li><asp:LinkButton runat="server" ID="lnkLogout" OnClick="lnkLogout_Click" CausesValidation="false">Logout</asp:LinkButton></li>
                            </ul>
                        </li>
                    </ul>
        </div>  
              </nav>

 </div>
</div>
          </header>
    <div class="main">
        <div class="col-md-12">
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        
        </asp:ContentPlaceHolder>
            </div>
    </div>
    </form>  
</body>  
</html>  
