﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WebUserControl.ascx.cs" Inherits="DistributorSystem.WebUserControl" %>
<asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" class="menu_Menu1">
    <LevelMenuItemStyles>
        <asp:MenuItemStyle CssClass="main_menu" />
        <asp:MenuItemStyle CssClass="level_menu" />
    </LevelMenuItemStyles>
    <StaticSelectedStyle CssClass="selected" />
</asp:Menu>
